
.ui-actitivy-spinner {
    position: absolute;
    top: 1px;
    right:32px;
}

.hidden {
    display: none;
}

.text-yellow {
    color: yellow;
}

.text-yellow:hover {
    color: yellow;
}

.no-decorations {
    text-decoration: none !important;
}

.no-decorations:hover {
    text-decoration: none !important;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#output-navbar {
    background-color:#224466;
    color: #ffffff;
    padding: 5px 5px 10px 5px;
    min-height: 40px;
    height: auto;
}

#output-navbar .navbar-title-block {
    position: absolute;
    font-size:16pt;
    top: 5px;
    padding: 0px 2px;
}

.navbar-notices-wrapper {
    position: relative;
    width: 50vw;
    left: 25vw;
    right: 25vw;
    top: 1px;
}

.navbar-notices {
    width: 50vw;
    padding: 3px 0;
    text-align: center;
    font-size: 10pt;
}

.navbar-iconset {
    font-size: 14pt;
    padding: 3px;
    display: inline-block;
    position: absolute;
    text-align: right;
    width: 200px;
    right: 5px;
    top: 5px;
}

.navbar-iconset a {
    text-decoration: none;
    font-weight: 200;
    font-size: 12pt;
    color: #eeeeee;
}


.content-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #000022;
    width: 100%;
}

.content-wrapper > div{
    display: flex;
    flex-direction: column;
    flex: 1;
}


#editor { 
    padding: 10px 5px !important;
    height: 100%;
}


#output-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    height: 100%;
    padding: 0;
    margin: 0;
}

#output {
    flex: 1;
    width: 100%;
    padding: 5px;
    margin: 0;
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

#output-statusbar {
    min-height: 40px;
    text-align: left;
    background-color:#ffffff;
    color: #000000;
    font-size:10pt;
    padding: 5px;
}

.logo {
    position: absolute;
    height: 30px;
}

.logo-gh {
    right: 0px;
}

.logo-dh {
    right: 31px;
}

.logo-php {
    height: 28px;
}

.transparent-50 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  
    /* IE 5-7 */
    filter: alpha(opacity=50);
  
    /* Netscape */
    -moz-opacity: 0.5;
  
    /* Safari 1.x */
    -khtml-opacity: 0.5;
  
    /* Good browsers */
    opacity: 0.5;
  }