.output-animation-outer-container {
  padding: 25% 5% 0 5%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.output-animation-container {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}
.output-animation-outer-container {
  padding: 10% 5% 0 5%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.output-animation-container {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

#loader-cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotatecube 10s infinite;
  
  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 10s infinite;
}

#loader-cube div {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  border: none;
  line-height: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

@-webkit-keyframes rotatecube {
   16%      { -webkit-transform: rotateY(-90deg);                }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { -webkit-transform: rotateY(180deg) rotateZ(90deg); }
    66%      { -webkit-transform: rotateY(90deg) rotateX(90deg);  }
    83%      { -webkit-transform: rotateX(90deg);                 }
}

@keyframes spincube {
    16%      { -ms-transform: rotateY(-90deg); transform: rotateY(-90deg); }
    33%      { -ms-transform: rotateY(-90deg) rotateZ(90deg); transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { -ms-transform: rotateY(180deg) rotateZ(90deg); transform: rotateY(180deg) rotateZ(90deg); }
    66%      { -ms-transform: rotateY(90deg) rotateX(90deg); transform: rotateY(90deg) rotateX(90deg); }
    83%      { -ms-transform: rotateX(90deg); transform: rotateX(90deg); }
}

.front {
  background: rgba(25, 85, 181, 0.2);
}

.back {
  background: rgba(33, 78, 150, 0.2);
}

.right {
  background: rgba(64, 112, 189, 0.25);
}

.left {
  background: rgba(64, 98, 153, 0.25);
}

.top {
  background: rgba(64, 98, 153, 0.15);
}

.bottom {
  background: rgba(27, 77, 158, 0.15);
}

#loader-cube .front  {
  -webkit-transform: rotateY(0deg ) translateZ( 50px );
  -moz-transform: rotateY( 0deg ) translateZ( 50px );
}
#loader-cube .back {
  -webkit-transform: rotateX( 180deg ) translateZ( 50px );
  -moz-transform: rotateX( 180deg ) translateZ( 50px );
}
#loader-cube .right  {
  -webkit-transform: rotateY(  90deg ) translateZ( 50px );
  -moz-transform: rotateY(  90deg ) translateZ( 50px );
}
#loader-cube .left   {
  -webkit-transform: rotateY( -90deg ) translateZ( 50px );
  -moz-transform: rotateY( -90deg ) translateZ( 50px );
}
#loader-cube .top    {
  -webkit-transform: rotateX(  90deg ) translateZ( 50px );
  -moz-transform: rotateX(  90deg ) translateZ( 50px );
}
#loader-cube .bottom {
  -webkit-transform: rotateX( -90deg ) translateZ( 50px );
  -moz-transform: rotateX( -90deg ) translateZ( 50px );
}